header h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace  ;
}

main, footer{
    margin-left: 10%;
    margin-right: 10%; 
}

body{
    background-color: hsl(276, 2%, 41%);
}